[submodule "Python/FireWatchApp"]
	path = Python/FireWatchApp
	url = https://github.com/reese-hoffart/firewatch-CodeDay2020
[submodule "Flutter/FireWatchApp"]
	path = Flutter/FireWatchApp
	url = https://github.com/reese-hoffart/firewatch-CodeDay2020
[submodule "Websites/ahscyber.github.io"]
	path = Websites/ahscyber.github.io
	url = https://github.com/ahscyber/ahscyber.github.io
